<%= form_tag(nil, method: "get", class: "form-inline",
             role: "form") do %>

    <div class="form-group hidden-xs">
      <%= label_tag(:name, t('home.hero_unit.project_title_label'), class: "sr-only") %>
      <%=
          text_field_tag(:name, nil, class: "form-control",
                         placeholder: t('home.hero_unit.project_name_placeholder'),
                         data: {toggle: "tooltip", placement: "bottom", delay: "500", html: "true"},
                         title: t('home.hero_unit.project_name_tooltip_html'))
      %>
    </div>

    <div class="form-group hidden-xs">
      <%= label_tag(:category, t('home.hero_unit.project_category_label'), class: "sr-only") %>
      <%= select_tag(:category,
                     options_from_collection_for_select(@categories, :id, :name),
                     class: "form-control",
                     prompt: t('home.hero_unit.project_category_select'),
                     data: {toggle: "tooltip", placement: "bottom", delay: "500", html: "true"},
                     title: t('home.hero_unit.project_category_tooltip_html')
          ) %>
    </div>

    <button class="call-to-action-btn" type="submit"
            data-toggle="tooltip" data-placement="bottom" data-delay="500" data-html="true"
            title="<%= t('home.hero_unit.project_submit_tooltip_html') %>">

        <%= t('home.hero_unit.project_submit') %>&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i>
    </button>
<% end %>
