<%= form_tag({controller: "projects", action: "new"}, method: "post", class: "form-inline",
             role: "form") do %>

    <div class="form-group hidden-xs">
      <%= label_tag(:name, t('home.hero_unit.project_title_label'), class: "sr-only") %>
      <%=
          text_field_tag(:name, nil, class: "form-control",
                         placeholder: t('home.hero_unit.project_name_placeholder'),
                         data: {toggle: "tooltip", placement: "bottom", delay: "500", html: "true"},
                         title: t('home.hero_unit.project_name_tooltip_html'))
      %>
    </div>

    <div class="form-group hidden-xs">
      <%= label_tag(:category, t('home.hero_unit.project_category_label'), class: "sr-only") %>
      <%= select_tag(:category,
                     options_for_select(
                             [
                                     ["Animals", "animals"],
                                     ["Business", "business"],
                                     ["Community", "community"],
                                     ["Medical", "medical"],
                                     ["Personal", "personal"],
                                     ["Sports", "sports"],
                                     ["Third World", "third-world"],
                                     ["-other/choose later-", "other"]
                             ]
                     ), class: "form-control", prompt: "-select category-",
                     data: {toggle: "tooltip", placement: "bottom", delay: "500", html: "true"},
                     title: t('home.hero_unit.project_category_tooltip_html')
          ) %>
    </div>

    <button class="call-to-action-btn" type="submit"
            data-toggle="tooltip" data-placement="bottom" data-delay="500" data-html="true"
            title="<%= t('home.hero_unit.project_submit_tooltip_html') %>">

        <%= t('home.hero_unit.project_submit') %>&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i>
    </button>
<% end %>

<!--select id="pcategory" name="pcategory" style="border-color: rgb(225, 225, 225);">
<option value="0">-select category-</option>
<option class="innercategory" value="15">Bedrijfsplannen</option>
<option class="innercategory" value="4">Dieren</option>
<option class="innercategory" value="21">Duurzaam</option>
<option class="innercategory" value="12">Economische Ontwikkeling</option>
<option class="innercategory" value="3">Gezondheid</option>
<option class="innercategory" value="14">Ideeën & Uitvindingen</option>
<option class="innercategory" value="7">Kinderen</option>
<option class="innercategory" value="5">Kunst & Cultuur</option>
<option class="innercategory" value="13">Mensenrechten</option>
<option class="innercategory" value="8">Milieu</option>
<option class="innercategory" value="18">Muziek & Dans</option>
<option class="innercategory" value="6">Natuur & Milieu</option>
<option class="innercategory" value="11">Onderwijs</option>
<option class="innercategory" value="17">Ouderen</option>
<option class="innercategory" value="19">Overig</option>
<option class="innercategory" value="10">Politiek & Overheid</option>
<option class="innercategory" value="20">Religie</option>
<option class="innercategory" value="2">Sport</option>
<option class="innercategory" value="16">Vrede</option>
<option class="innercategory" value="1">Vrouwen & Meisjes</option>
</select-->
