<% title("The Crowdfunding Network") %>

<% content_for :wide_content do %>
    <div class="section">
      <div class="fullwidth-no-gutter hero-unit boffset3 text-center">

        <img src="images/bg.jpg" class="img-responsive" alt="Responsive image">

        <div class="container">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-1 text-center"
                   style="background: lightgrey; opacity: 0.9; position: absolute; top: 150px; left: 250px;">

                <h1 class="big-slogan" data-sr="enter from the top and hustle 50px over 1.5s"><%= t(:slogan_html) %></h1>
                <h3 data-sr="enter bottom wait 1s"><%= t(:subslogan_html, :create_href => link_to(t(:create), root_path, class: "text-primary"), :donate_href => link_to(t(:donate), root_path, class: "text-primary")) %></h3>
                <button class="btn btn-primary toffset2 boffset4" type="button">Learn more</button>
              </div>
            </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section">
            <div class="fullwidth text-center">
              <!--h2 class="h2" data-sr="enter bottom wait 1s"><%= t(:our_project_picks) %></h2-->
              <h2 class="h2"><%= t(:our_project_picks) %></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<% content_for :additional_scripts do %>
    <%= javascript_include_tag 'scrollReveal.min' %>

    <script type="text/javascript">
        (function ($) {
            'use strict';
            window.sr = new scrollReveal({
                reset: true,
                move: '50px',
                mobile: true
            });
        })();
    </script>
<% end %>