<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container navbar-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag(ENV['APP_LOGO'] || "simple_crowd.png", class: "logo") %>
      <% end %>

      <div class="nav navbar-nav navbar-left navbar-slogan">
        <%= link_to root_path do %>
            <%= ENV['APP_SLOGAN'] || "simple crowdfunding" %>
        <% end %>
      </div>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/navbar_links' %>
      </ul>
    </div>
  </div>
</nav>
