<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <%# don't use minimum/maximum-scale, bad for accessibility, see: http://a11yproject.com/posts/never-use-maximum-scale
  <%#meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"%>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%# <!-- meta tags -->
    <meta name="description" content="Simple demo crowdfunding website">
    <meta name="author" content="leob">
    <meta name="keywords" content="crowdfunding">
  %>
  <title><%= @title || "Home" %> - <%= ENV['APP_BRAND'] || "simplecrowd" %>.com</title>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>

  <%#
      Load jQuery from CDN, see: http://encosia.com/3-reasons-why-you-should-let-google-host-jquery-for-you/
      Note: the most popular version currently (2015/04/25) seems to be jQuery 1.11.1, so that's what we use:
        http://w3techs.com/technologies/details/js-jquery/all/all
        http://w3techs.com/technologies/details/js-jquery/1/all
        http://w3techs.com/technologies/details/js-jquery/1.11/all
  %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%#
      Prevent "FOUC" (Flash of Unstyled Content) that you sometimes see under Firefox due to loading of remote fonts
      (Google fonts etc), this is more visible under e.g. Heroku (higher latency) than when deployed locally.

      See: https://www.typotheque.com/webfonts/FOUC

      Solution is to use the Web Font Preloader, see below.

      MAKE SURE TO SPECIFY THE CORRECT FONT FAMILIES IN THE 'families' PARAMETER BELOW !
  %>
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
  <script>
      WebFont.load({
          google: {
              families: ['Open Sans']
              /*families: ['Open Sans', 'Helvetica Neue']*/
          }
      });
  </script>

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>

<body data-no-turbolink>

<div id="wrap">
  <%#
      ARIA skip nav links technique, see:
        http://getbootstrap.com/getting-started/#accessibility
        http://a11yproject.com/posts/skip-nav-links/
  %>
  <!--<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>-->

  <%# 'banner' is for ARIA see: https://dequeuniversity.com/assets/html/jquery-summit/html5/slides/landmarks.html %>
  <header role="banner">
    <%= render 'layouts/navbar' %>
  </header>

  <% if content_for?(:wide_content) %>
      <%= yield :wide_content %>
  <% else %>

      <%# 'main' is for ARIA see: https://dequeuniversity.com/assets/html/jquery-summit/html5/slides/landmarks.html %>
      <div class="container push-down" role="main" id="content" tabindex="-1">
        <%= render 'layouts/flash_messages' %>

        <%# 'region' is for ARIA see: https://dequeuniversity.com/assets/html/jquery-summit/html5/slides/landmarks.html %>
        <div class="content-row-smaller" role="region">
          <%= yield %>
        </div>
      </div>

  <% end %>

</div>

<% if !flash.empty? %>
    <% flash.clear %>
<% end %>

<%= render 'layouts/footer' %>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

<%= render 'layouts/scripts' %>
<%#= render 'layouts/google_analytics_js' %>

<%= yield :additional_scripts %>

<div class="btn-scroll-to-top"></div>
<div class="btn-scroll-to-bottom"></div>

</body>
</html>
